.big-white-text {
  font-family: 'Amatic SC', cursive;
  font-size: 70px;
  font-weight: 700;
  color: white;
}
/*-------------------------------------
    Presets
-------------------------------------*/
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: helvetica, arial, sans-serif;
  font-weight: 100;
  line-height: 1.25;
}
body h1 {
  font-size: 175%;
}
body h2 {
  font-size: 150%;
}
body h3 {
  font-size: 125%;
}
body h4 {
  font-size: 100%;
}
body h5 {
  font-size: 75%;
}
body h6 {
  font-size: 50%;
}
body img {
  display: block;
  width: 100%;
}
body .button {
  color: #222;
  background-color: #ddd;
  padding: .5rem 2rem;
  margin: 1rem 0 0;
  border-radius: .25rem;
  text-decoration: none;
}
/*======================================*/
nav img {
  width: 160px;
}
.bs {
  background-color: #8bcbb9;
}
.navbar-default {
  background-color: #8bcbb9;
  border-color: #8bcbb9;
}
.navbar-default .navbar-nav > li > a {
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  font-weight: 700;
}
.navbar {
  border: none;
  border-radius: 0px;
  margin-bottom: 0px;
  background-color: #8bcbb9;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 5px 5px;
  font-size: 18px;
  line-height: 20px;
}
.jumbotron {
  background-image: url("../img/bg4.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: white;
}
.jumbotron h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 70px;
  font-weight: 700;
  color: white;
}
.jumbotron p {
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
}
.btn-primary {
  color: #8bcbb9;
  background-color: white;
  border-color: white;
  font-weight: 700;
}
.btn-primary:hover {
  background-color: #8bcbb9;
  border-color: #8bcbb9;
}
article {
  color: white;
}
article h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 70px;
  font-weight: 700;
  color: white;
}
article p {
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
}
aside img {
  border: 5px solid #ffffff;
  border-radius: 10px;
}
footer {
  background-color: #a7b1b9;
  color: white;
  padding-top: 20px;
}
